<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/styles.css">
    <title>Pil Andina El Alto</title>
</head>
<body>
    <section id="inicio">
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <img src="../static/images/logopil.jpg" alt="Logo Pil Andina" style="width: 100px; height: auto; margin-right: 15px;">
                    <h1>PIL ANDINA EL ALTO</h1>
                    <nav id="nav">
                        <ul id="links">
                            <li><a href="index.html" class="seleccionado" onclick="seleccionar(this)">INICIO</a></li>
                            <li><a href="quienes.html" onclick="seleccionar(this)">QUIENES SOMOS</a></li>
                            <li><a href="servicio.html" onclick="seleccionar(this)">SERVICIOS</a></li>
                            <li><a href="noticias.html" onclick="seleccionar(this)">NOTICIAS</a></li>
                            <li><a href="contacto.html" onclick="seleccionar(this)">CONTACTO</a></li>
                        </ul>
                    </nav>

                   
                    <div id="icono-nav" onclick="responsiveMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                    <div class="redes">
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                    </div>
                </div>
            </header>
            <div class="presentacion">
                <h2>SERVICIOS</h2>
                <p class="descripcion">Estamos al servicio con nuestros productos novedosos y tradicionales: leche entera, gelatinas, yogurt, queso y mantequilla.</p>
                <br>
                <a href="#servicios">Ir a Servicios</a>
                <img src="../static/images/productos.jpeg" alt="Productos de Pil Andina" style="width: auto; height: auto; margin: 15px 0;">
            </div>
        </div>
    </section>

    <section id="servicios">
        <h3 class="titulo-seccion">NUESTROS SERVICIOS</h3>
        <div class="fila">
            <div class="servicio">
                
                <h4>Envío de mercadería</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Lácteos</li>
                    <li>Envío</li>
                    <li>Transporte</li>
                </ul>
                <p>Creamos soluciones a medida para agilizar la venta, mejorar la gestión de transporte y potenciar el consumo.</p>
            </div>
            <div class="servicio">
                
                <h4>Envasado de productos</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Lácteos</li>
                    <li>Empaquetado</li>
                    <li>Almacén</li>
                </ul>
                <p>Nos encargamos de empaquetar los productos que fabricamos.</p>
            </div>
            <div class="servicio">
                
                <h4>Leche</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Lácteos</li>
                    <li>Leche entera</li>
                </ul>
                <p>Es nuestro principal producto.</p>
            </div>
        </div>
        <div class="fila">
            <div class="servicio">
                
                <h4>Mantequilla</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Mantequilla</li>
                    <li>A base de agua</li>
                </ul>
                <p>Uno de los principales derivados lácteos.</p>
            </div>
        </div>
    </section>
</body>
</html>
